services:
  build:
    build: .
    volumes:
      - .:/app
      - ./bin:/output
      - cargo-registry:/usr/local/cargo/registry
      - cargo-target:/app/target
      - cargo-hotkey-target:/app/hotkey/target
    environment:
      - BUILD_TARGET=${BUILD_TARGET:-linux}
    command: sh /app/docker-build.sh
  lint:
    build:
      context: .
      dockerfile: Dockerfile.lint
    volumes:
      - .:/app
    command: cargo machete

volumes:
  cargo-registry:
  cargo-target:
  cargo-hotkey-target:
